# Ignora i file di Python
__pycache__/
*.pyc

# Ignora la cartella dell'ambiente virtuale
venv/
.venv/

# Ignora i database locali e i file di sessione
app.db
*.sqlite
/instance/

# Ignora i file specifici di Flask/Werkzeug
.flaskenv