# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/

# Flask
.env
.flaskenv
/instance/

# Database locali
app.db
*.sqlite

# Alembic
migrations/versions/__pycache__/

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db


